<%= form_for @customer do |c| %>
  <div class="field">
   <%= c.label :name %>
   <%= c.text_field :name %> 
  </div>

  <div class="field">
   <%= c.label :email %>
   <%= c.email_field :email %> 
  </div>

  <div class="field">
   <%= c.label :password %>
   <%= c.password_field :password %> 
  </div>

  <div class="field">
   <%= c.label :password_confirmation %>
   <%= c.password_field :password_confirmation %> 
  </div>

  <div class="actions"><%= c.submit "Let's eat good food!" %></div>
<% end %>