<%= form_for @restaurant do |f| %>
	<p>
	<%= f.label :name %> <br>
	<%= f.text_area :name %>
	</p>
	
	<p>
	<%= f.label :email %> <br>
	<%= f.text_area :email %>
	</p>

	<p>
		<%= f.label :password %> <br>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.label :password_confirmation %> <br>
		<%= f.password_field :password_confirmation %>
	</p>

	<p>
		<%= f.label :address %> <br>
		<%= f.text_area :address %>
	</p>

	<p>
		<%= f.label :city %> <br>
		<%= f.text_area :city %>
	</p>

	<p>
		<%= f.label :province %> <br>
		<%= f.text_area :province %>
	</p>

	<p>
		<%= f.label :postal_code %> <br>
		<%= f.text_area :postal_code %>
	</p>

	<p>
		<%= f.label :phone_number %> <br>
		<%= f.number_field :phone_number %>
	</p>

	<p><%= f.submit %></p>
<% end %>