<h1>Find Your Food</h1>

<p>
<h3>Search by restaurant name</h3>
<%= render "search" %>

<h5>OR</h5>

<h3>Search for nearby restaurants:</h3>
<%= form_tag restaurants_search_path, method: :post do %>
  <%= label :location, "Enter your current location:" %> <br>
  <%= text_field_tag :location, params[:location] %> <br>

  <%= label :distance, "How far did you wanna go? (Distance in miles)" %> <br>
  <%= text_field_tag :distance, params[:distance] %>  <br>
  <%= submit_tag "Search" %>

<%= render @restaurants %>




<% end -%>