<h1><%= @restaurant.name %></h1>

<p>
	<strong>Cuisines</strong>
	<ul>
		<% for type in @restaurant.food_types %>	
			<li><%= type.name %></li>
		<% end -%>
	</ul>
</p>

<p><strong>Description:</strong> <%= @restaurant.description %></p>

<div class="contact_info">
<p><%= @restaurant.address %><br>
<%= @restaurant.city %>, <%= @restaurant.province %><br>
<%= @restaurant.postal_code %></p>
<p><%= @restaurant.phone_number %><br>
<%= mail_to @restaurant.email, @restaurant.email %></p>
</div>

<h2>Make a Reservation at <%= @restaurant.name %></h2>


<%= simple_form_for @reservation do |f| %>
  <%= f.input :start_date_time_date, as: :date, discard_year: :true, label: 'Date' %>
  <%= f.input :start_date_time_hour, collection: 9..22, label: 'Hour' %>
  <%= f.input :start_date_time_min, collection: [0], label: 'Minute' %>
  <%= f.submit %>
<% end %>

<p>
	<%= link_to "Home", root_path %> 
	<% if current_user && current_user.id == @restaurant.id && current_user.is_a?(Restaurant)%>
		| <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
	<% end %>
</p>