<h1><%= @restaurant.name %></h1>

<p>
	<strong>Cuisines</strong>
	<ul>
		<% for type in @restaurant.food_types %>	
			<li><%= type.name %></li>
		<% end -%>
	</ul>
</p>

<p><strong>Description:</strong> <%= @restaurant.description %></p>

<div class="contact_info">
<p><%= @restaurant.address %><br>
<%= @restaurant.city %>, <%= @restaurant.province %><br>
<%= @restaurant.postal_code %></p>
<p><%= @restaurant.phone_number %><br>
<%= mail_to @restaurant.email, @restaurant.email %></p>
</div>

<p>
	<%= link_to "Home", root_path %> 
	<% if current_user && current_user.id == @restaurant.id && current_user.is_a?(Restaurant)%>
		| <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
	<% end %>
</p>