<h1><%= @restaurant.name %></h1>

<p>
	<strong>Cuisines</strong>
	<ul>
		<% for type in @restaurant.food_types %>	
			<li><%= type.name %></li>
		<% end -%>
	</ul>
</p>

<p><strong>Description:</strong> <%= @restaurant.description %></p>

<div class="contact_info">
<p><%= @restaurant.address %><br>
<%= @restaurant.city %>, <%= @restaurant.province %><br>
<%= @restaurant.postal_code %></p>
<p><%= @restaurant.phone_number %><br>
<%= mail_to @restaurant.email, @restaurant.email %></p>
</div>

<h2>Make a Reservation at <%= @restaurant.name %></h2>

<%= form_for @reservation do |f| %>
	<%= hidden_field_tag :restaurant_id, @restaurant.id %>
	<%= label_tag "Date" %>
	<%= f.date_select :start_date_time %>
	<%= label_tag "Time" %>
	<%= f.time_select :start_date_time, discard_minute: :true %> <br>
	
	<%= f.label :party_size %>
	<%= f.number_field :party_size %> <br>
	<%= f.submit %>
<% end %>





<p>
	<%= link_to "Home", root_path %> 
	<% if current_user && current_user.id == @restaurant.id && current_user.is_a?(Restaurant)%>
		| <%= link_to "Edit", edit_restaurant_path(@restaurant) %>
	<% end %>
</p>